<div class="container-fluid">
  <div class="mb-4"></div>
  <br>
  <div class="row">
    <div class="container-fluid col-11">
      <button (click)="openInsert()" class="btn btn-primary">
        <fa-icon [icon]="plusIcon"></fa-icon>
        Add new server
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table table-bordered">
      <caption>Servers table</caption>
      <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 15%">Name</th>
        <th scope="col" style="width: 25%">IP</th>
        <th scope="col" style="width: 10%">Protocol</th>
        <th scope="col" style="width: 15%">Port</th>
        <th matTooltip="Last time when server provide logs" scope="col" style="width: 15%">Last Logs</th>
        <th matTooltip="Is Server currently connected and can provide logs" scope="col" style="width: 5%">Connected
        </th>
        <th scope="col" style="width: 5%">Enabled</th>
        <th scope="col" style="width: 10%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let server of serverPage?.content | paginate: {id: 'servers', itemsPerPage: serverPage?.size,currentPage: serverPage?.number, totalItems: serverPage?.totalElements}">
        <td>{{server.name}}</td>
        <td>{{server.ip}}</td>
        <td>{{server.protocol}}</td>
        <td>{{server.port}}</td>
        <td>{{server.lastAccessByJob | date: 'short'}}</td>
        <td class="text-center">
          <fa-icon [icon]="server.connectable?enabledIcon:disabledIcon" class="h3"></fa-icon>
        </td>
        <td class="text-center">
          <fa-icon [icon]="server.enabled?enabledIcon:disabledIcon" class="h3"></fa-icon>
        </td>
        <td class="text-center">
          <fa-icon (click)="routeToDirectories(server)" [icon]="proceedIcon"
                   class="btn fas fa-2x pointer-event"></fa-icon>
          <fa-icon (click)="openUpdate(server)" [icon]="settingIcon" class="btn fas fa-2x pointer-event"
                   data-target="#updateModal" data-toggle="modal"></fa-icon>
          <fa-icon (click)="deleteServer(server.objectId)" [icon]="deleteIcon"
                   class="btn fas fa-2x pointer-event"></fa-icon>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="getServersFromPage($event)" id="servers"></pagination-controls>
  </div>
</div>
