<div class="card">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Adding new server</h5>
    <button (click)="closeDialog()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="inputError" class="alert alert-danger col-12" role="alert">
      {{inputError}}
    </div>

    <form [formGroup]="insertForm">
      <app-error-check-input [controlName]="'name'" [errorCheckFunction]="getErrorByControlName"
                             [labelText]="'Server Name'" [parentFormGroup]="this.insertForm" [placeholder]="'Server #1'"
                             [type]="'text'">
      </app-error-check-input>

      <app-error-check-input [controlName]="'ip'" [errorCheckFunction]="getErrorByControlName"
                             [labelText]="'IP address'" [parentFormGroup]="this.insertForm" [placeholder]="'127.0.0.1'"
                             [type]="'text'">
      </app-error-check-input>

      <app-error-check-input [controlName]="'port'" [errorCheckFunction]="getErrorByControlName"
                             [labelText]="'Port'" [parentFormGroup]="this.insertForm" [placeholder]="'65535'"
                             [type]="'number'">
      </app-error-check-input>

      <app-error-check-input [controlName]="'login'" [errorCheckFunction]="getErrorByControlName"
                             [labelText]="'Username'" [parentFormGroup]="this.insertForm" [placeholder]="'user'"
                             [type]="'text'">
      </app-error-check-input>

      <app-error-check-input [controlName]="'password'" [errorCheckFunction]="getErrorByControlName"
                             [labelText]="'Password'" [parentFormGroup]="this.insertForm" [placeholder]="'password'"
                             [type]="'text'">
      </app-error-check-input>

      <app-error-check-select [controlName]="'protocol'" [errorCheckFunction]="getErrorByControlName"
                              [labelText]="'Protocol'" [parentFormGroup]="this.insertForm"
                              [values]="protocols">
      </app-error-check-select>
    </form>
    <div class="d-flex justify-content-around">
      <button (click)="testConnection()" class="btn btn-info col-4" type="button">Test connection</button>
      <div *ngIf="(testResultMessage===undefined)" class="col-7"></div>
      <div *ngIf="(testResultMessage!==undefined)" [ngClass]="testResult?'alert-success':'alert-danger'"
           class="alert col-7 text-center mb-0 pt-1 pb-1 pr-2 pl-2">{{testResultMessage}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="closeDialog()" class="btn btn-secondary"
            type="button">Close
    </button>
    <button (click)="saveDialogResult()" class="btn btn-primary" type="submit">Add Server
    </button>
  </div>
</div>
