<div class="container">
  <form [formGroup]="form">
    <h3>Enter new password</h3>
    <div class="form-group">
      <input class="form-control" id="newPassword" formControlName="newPassword" placeholder="Password" type="password">
      <br>
      <input class="form-control" id="repeatNewPassword" formControlName="repeatNewPassword" placeholder="Repeat"
             type="password">
    </div>
    <div *ngIf="differentPasswords" class="alert alert-danger" role="alert">
      Passwords do not match!
    </div>
    <button (click)="updatePassword()" class="btn btn-primary" type="submit">Change</button>
  </form>
</div>
