<div class="mb-5"></div>
<div class="container">
  <form [formGroup]="form">
    <h3>Enter new password</h3>
    <div class="form-group">
      <hr>
      <label *ngIf="user" for="newPassword">Login: {{user.login}}</label>
      <hr>
      <input class="form-control" formControlName="newPassword" id="newPassword" placeholder="Password" type="password">
      <br>
      <input class="form-control" formControlName="repeatNewPassword" id="repeatNewPassword" placeholder="Repeat"
             type="password">
    </div>
    <div *ngIf="differentPasswords" class="alert alert-danger" role="alert">
      Passwords do not match!
    </div>
    <button (click)="updatePassword()" class="btn btn-primary" type="submit">Change</button>
  </form>
</div>
