<div class="mb-5"></div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="errorMessage" class="alert alert-danger col-6" role="alert">
      {{errorMessage}}
    </div>
    <div *ngIf="confirmMessage" class="alert alert-success col-6" role="alert">
      {{confirmMessage}}
    </div>
  </div>
  <div class="row">
    <div class="container-fluid col-12">
      <button (click)="getFilesForUpdate()" class="btn btn-primary" data-target="#updateFilesModal" data-toggle="modal">
        <fa-icon [icon]="plusIcon"></fa-icon>
        Add new File
      </button>
    </div>
  </div>
  <hr>
  <div class="col-12">
    <table class="table table-bordered table-striped">
      <caption>Files table</caption>
      <thead class = "p-0">
      <tr>
        <th scope="col" style="width: 75%">Name</th>
        <th scope="col" style="width: 15%">Last Access By Job</th>
        <th scope="col" style="width: 10%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let file of logFilePage?.content | paginate: {id: 'servers', itemsPerPage: logFilePage?.size,currentPage: logFilePage?.number, totalItems: logFilePage?.totalElements}">
        <td>{{file.name}}</td>
        <td>{{file.lastUpdate | date: 'short'}}</td>
        <td class="text-center">
          <fa-icon (click)="routeToLogs(file)" [icon]="logsIcon"
                   class="btn fas fa-2x pointer-event"></fa-icon>
          <fa-icon (click)="routeToRealtime(file.objectId)" [icon]="realTimeIcon"
                   class="btn fas fa-2x pointer-event"></fa-icon>
          <fa-icon (click)="deleteFile(file.objectId)" [icon]="deleteIcon"
                   class="btn fas fa-2x pointer-event"></fa-icon>
        </td>
      </tr>
      </tbody>
    </table>
    <app-pagination-controls (pageChange)="getFilesFromPage($event)" id="servers"></app-pagination-controls>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="updateFilesModalLabel" class="modal fade" id="updateFilesModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateFilesModalLabel">Log Files</h5>
        <button (click)="closeUpdateFiles()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row">
          <button (click)="splitFilesServerBD(filesFromDB, filesFromServer)" class="btn btn-info col-4" type="button">
            Files
          </button>
        </div>
        <hr>
        <!-- PUT FORM -->
        <table class="table table-bordered">
          <caption>Files</caption>
          <thead>
          <tr>
            <th scope="col">File name</th>
            <th scope="col">Include?</th>
          </tr>
          </thead>
          <tbody *ngIf="filesForUpdate">
          <tr *ngFor="let file of filesForUpdate;">
            <td>{{file.name}}</td>
            <td>
              <input (change)="changeStatusFile(file.name, filesForUpdate)" [checked]="file.checked"
                     class="form-control" type="checkbox">
            </td>
          </tr>
          </tbody>
        </table>
        <!-- PUT FORM -->
      </div>
      <div class="modal-footer">
        <button (click)="updateFiles()" class="btn btn-primary" data-dismiss="modal" type="submit">Update files</button>
      </div>
    </div>
  </div>
</div>

