<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LogViewer</a>
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a *ngIf="!isLoginned()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login Page</a>
      <a *ngIf="isLoginned()" class="nav-item nav-link" routerLink="/servers" routerLinkActive="active">Servers</a>
    </div>
    <div class="navbar-nav">
      <a *ngIf="isLoginned()" class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarDropdown" role="button">
          Extras
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" routerLink="/settings" routerLinkActive="active">Settings</a>
          <a *ngIf="isAdmin()" class="dropdown-item" href="#" routerLink="/global_settings" routerLinkActive="active">Global
            Settings</a>
          <a *ngIf="isAdmin()" class="dropdown-item" href="#" routerLink="/users" routerLinkActive="active">Users</a>
          <a (click)="logout()" class="dropdown-item" href="#" routerLinkActive="active">Logout</a>
        </div>
      </a>
    </div>
  </div>
</nav>
<div class="justify-content-center">
  <div *ngIf="errorMessage" class="alert alert-danger col-12 text-center mb-0" role="alert">
    {{errorMessage}}
    <button (click)="alertBarService.resetMessage()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="confirmMessage" class="alert alert-success col-12 text-center mb-0" role="alert">
    {{confirmMessage}}
    <button (click)="alertBarService.resetMessage()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
