<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LogViewer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" *ngIf="!isLoginned()" routerLink="/login" routerLinkActive="active">Login Page</a>
      <a class="nav-item nav-link" *ngIf="isLoginned()" routerLink="/servers" routerLinkActive="active">Servers</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item dropdown" *ngIf="isLoginned()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Extras
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/settings" routerLinkActive="active" href="#">Settings</a>
          <a class="dropdown-item" *ngIf="isAdmin()" routerLink="/users" routerLinkActive="active" href="#">Users</a>
        </div>
      </a>
    </div>
  </div>
</nav>
<div class="mb-5"></div>
<router-outlet></router-outlet>
