<div class="mb-5"></div>
<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <h3>Changing password</h3>
      <p>To change your password, please enter your login down below:</p>
      <label class="sr-only" for="loginForRecovery">Login</label>
      <input class="form-control" formControlName="login" id="loginForRecovery" name="login" placeholder="Login">
    </div>
    <button (click)="send()" class="btn btn-primary">Send</button>
    <br>
    <div>
    </div>
  </form>
</div>
