<div *ngIf="smthWrong" class="alert alert-warning text-center alert-dismissible fade show"
     role="alert">
  Something went wrong
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="sendSuccess" class="alert alert-success text-center alert-dismissible fade show" role="alert">
  Check your email
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="badLogin" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
  Incorrect login
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="mb-5"></div>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Changing password</h3>
      <p>To change your password, please enter your login down below:</p>
      <div class="form-group">
        <label class="sr-only" for="loginForRecovery">Login</label>
        <input class="form-control" formControlName="login" id="loginForRecovery" placeholder="Login"
               [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
          <div *ngIf="f.login.errors.required">Login is required</div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
  </form>
</div>
