  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="updateFilesModalLabel">Log Files</h5>
      <button (click)="closeUpdateFiles()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="errMes" class="col h-15">
        <div class="alert alert-danger"
             role="alert">{{errMes}}</div>
      </div>
      <table *ngIf="flag" class="table table-bordered">
        <caption>Files</caption>
        <thead>
        <tr>
          <th scope="col">File name</th>
          <th scope="col">
            <div class="row justify-content-center">Include?</div>
            <div class="row justify-content-center">
              <fa-icon  (click)="checkAll()" [icon]="icon"
                       class="btn fas fa-2x pointer-event"></fa-icon>
            </div>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="filesForUpdate">
        <tr *ngFor="let file of filesForUpdate;">
          <td>
            {{file.fileName.substr(0, !file.fullText ? 20 : file.fileName.length)}}
            <a *ngIf="file.fileName.length>20" class="btn btn-link" matTooltip="{{file.fileName}}" matTooltipClass="mat-tooltip1" (mouseenter)="$event.stopImmediatePropagation()"
               (mouseleave)="$event.stopImmediatePropagation()"
               #tooltip="matTooltip" (click)="tooltip.toggle()">...</a>
          </td>
          <td class ="align-middle" align="middle" content="center">
            <input (change)="changeStatusFile(file.name, filesForUpdate)" [checked]="file.checked"
                   style="width:30px;height:30px;"
                   class="form-control" type="checkbox">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button *ngIf="flag" (click)="updateFiles()" class="btn btn-primary" data-dismiss="modal" type="submit">Update files</button>
    </div>
  </div>
