<div *ngIf="badLogin" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
  Incorrect login or password
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="smthWrong" class="alert alert-warning text-center alert-dismissible fade show"
     role="alert">
  Something went wrong
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="mb-5"></div>
<div class="text-center d-flex justify-content-center">
  <form [formGroup]="form" class="form-signin col-3" (ngSubmit)="onSubmit()">
    <h1>LogViewer</h1>
    <hr>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
      <label class="sr-only" for="inputlogin">Email address</label>
      <input class="form-control" formControlName="login" id="inputlogin" placeholder="Login"
             [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
      <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
        <div *ngIf="f.login.errors.required">Login is required</div>
      </div>
    </div>
    <br *ngIf="!(submitted && f.login.errors)">
    <div class="form-group">
      <label class="sr-only" for="inputPassword">Password</label>
      <input class="form-control" formControlName="password" id="inputPassword" type="password" placeholder="Password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <br *ngIf="!(submitted && f.password.errors)">
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    <br>
    <a [routerLink]="['/resetPassword']">Forgot password?</a>
  </form>
</div>
