.cog1 {
  animation: rotation1 2s reverse infinite linear;
  margin-bottom: 175px;
}

.cog2 {
  animation: rotation2 2s infinite linear;
  margin-left: -39px;
}

@keyframes rotation1 {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(385deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(390deg);
  }
}
