<div class="container">
<p>Unique ID: {{user.objectId}}</p>
  <p>Email: {{user.email}}</p>
  <p>Login: {{user.login}}</p>
  <p>Role: {{user.role}}</p>
<form>
  <p>Change password</p>
  <div class="form-group">
    <label for="changePasswordInput">Password</label>
    <input type="password" class="form-control" id="changePasswordInput" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="repeatPasswordInput">Password</label>
    <input type="password" class="form-control" id="repeatPasswordInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
