  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addingDirModalLabel">Adding new directory</h5>
        <button (click)="closeDir()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="insertForm">
          <div class="form-group">
            <label for="nameInput">Directory path (from home)</label>
            <input (change)="changePath()"  class="form-control" formControlName="path" id="nameInput" name="path" placeholder="Directory path"
                   required
                   type="text">
            <div class="mat-error" *ngIf="insertForm.get('path').invalid && (insertForm.get('path').dirty||insertForm.get('path').touched)">
               <span *ngIf="insertForm.get('path').errors.required">
                Field is required
               </span>
            </div>
            <hr>
            <div class="d-flex row-cols-2">
              <button (click)="testDirectory()" class="btn btn-info col-4 h-25" type="button">Test connection</button>
              <div class="col-8 h-24">
                <div *ngIf="testResult"
                     [ngClass]="'alert alert-'+(testBool?'success':'danger')"
                     role="alert">{{testResult}}</div>
              </div>
            </div>
            <hr>
            <button (click)="getFiles()" class="btn btn-info" type="button">Get file list</button>
            <div *ngIf="getResult" class="col h-15">
              <br>
              <div class="alert alert-danger"
                   role="alert">{{getResult}}</div>
            </div>

            <hr>
            <form *ngIf="flag && testBool" [formGroup]="searchForm">
              <div *ngIf="files" class="form-group">
                <label for="searchInput">Search by text</label>
                <input class="form-control" formControlName="searchText" id="searchInput" name="searchText"
                       placeholder="Text"
                       type="text">
                <hr>
                <div class="d-flex flex-row">
                  <button (click)="search()" class="btn btn-info col-4" type="button">Search</button>
                </div>
              </div>
            </form>
            <table *ngIf="flag && testBool" class="table table-bordered">
              <caption>Files</caption>
              <thead>
              <tr>
                <th scope="col">File name</th>
                <th scope="col">
                  <!--<div class="d-flex justify-content-center row">-->
                  <div class="row justify-content-center">Include?</div>
                  <div class="row justify-content-center">
                    <fa-icon *ngIf="flag && testBool" (click)="checkAll(files)" [icon]="icon"
                             class="btn fas fa-2x pointer-event"></fa-icon>
                  </div>
                  <!--</div>-->
                </th>
              </tr>
              </thead>
              <tbody *ngIf="flag">
              <tr *ngFor="let file of files;">
                <td>
                  {{file.fileName.substr(0, !file.fullText ? 20 : file.fileName.length)}}
                  <a *ngIf="file.fileName.length>20" class="btn btn-link" matTooltip="{{file.fileName}}" matTooltipClass="mat-tooltip1" (mouseenter)="$event.stopImmediatePropagation()"
                     (mouseleave)="$event.stopImmediatePropagation()"
                     #tooltip="matTooltip" (click)="tooltip.toggle()">...</a>
                </td>
                <td>
                  <input (change)="changeStatusFile(file.name, files)" [checked]="file.checked" class="form-control"
                         type="checkbox">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="closeDir()" class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        <button (click)="addDirectory()" class="btn btn-primary" data-dismiss="modal" type="submit">Add Directory
        </button>
      </div>
</div>
