<div *ngIf="wrongPassword" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
  Wrong old password!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="samePasswords" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
  Old password and new password cannot be the same
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="passChangeSuccess" class="alert alert-success text-center alert-dismissible fade show" role="alert">
  Password successfully changed!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="passChangeSuccess == false" class="alert alert-warning text-center alert-dismissible fade show"
     role="alert">
  Something went wrong
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="mb-5"></div>
<div class="container">
  <div class="card bg-light mb-3">
    <h5 class="card-header">Account Information</h5>
    <div class="card-body">
      <p class="card-text">Email: {{user.email}}</p>
      <p class="card-text">Login: {{user.login}}</p>
      <p class="card-text">Role: {{user.role}}</p>
    </div>
  </div>
  <hr>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Change password</h3>
    <div class="form-group">
      <label for="oldPasswordInput">Old password</label>
      <input class="form-control" formControlName="oldPassword" id="oldPasswordInput" type="password"
             [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
      <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
        <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPasswordInput">New password</label>
      <input class="form-control" formControlName="newPassword" id="newPasswordInput" type="password"
             [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">Password is required</div>
        <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
        <div *ngIf="f.newPassword.errors.maxlength">Password must be no more than 32 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPasswordInput">Confirm password</label>
      <input class="form-control" formControlName="confirmPassword" id="confirmPasswordInput" type="password"
             [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
    <a [routerLink]="['/resetPassword']" class="ml-3">Forgot password?</a>
  </form>
  <hr>
  <h3>Account deleting</h3>
  <br>
  <button (click)="deletePres()" *ngIf="!deletePressed" class="btn btn-danger" type="button">Delete account</button>
  <div *ngIf="deletePressed" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>This process are irreversible!</p>
    <div class="row">
      <button (click)="deleteNo()" class="btn btn-secondary ml-3" type="button">No, let me think</button>
      <button (click)="deleteYes()" class="btn btn-danger ml-5" type="button">Yes</button>
    </div>
  </div>
</div>
