<div class="container">
  <div class="card bg-light mb-3">
    <h5 class="card-header">Account Information</h5>
    <div class="card-body">
      <p class="card-text">Email: {{user.email}}</p>
      <p class="card-text">Login: {{user.login}}</p>
      <p class="card-text">Role: {{user.role}}</p>
    </div>
  </div>
  <hr>
  <form [formGroup]="form">
    <h3>Change password</h3>
    <div class="form-group">
      <label for="oldPasswordInput">Old password</label>
      <input class="form-control" formControlName="oldPassword" id="oldPasswordInput" type="password">
    </div>
    <div class="form-group">
      <label for="newPasswordInput">New password</label>
      <input class="form-control" formControlName="newPassword" id="newPasswordInput" type="password">
    </div>
    <div class="form-group">
      <label for="repeatPasswordInput">Repeat new password</label>
      <input class="form-control" formControlName="repeatPassword" id="repeatPasswordInput" type="password">
    </div>
    <button (click)="updatePassword()" class="btn btn-primary" type="submit">Update</button>
    <a [routerLink]="['/resetPassword']" class="badge badge-dark  ml-2">Forgot password?</a>
    <div *ngIf="differentPasswords" class="alert alert-danger mt-3" role="alert">Passwords do not match!</div>
    <div *ngIf="passChangeSuccess" class="alert alert-success mt-3" role="alert">Password successfully changed!</div>
    <div *ngIf="passChangeSuccess == false" class="alert alert-warning mt-3" role="alert">Something went wrong</div>
  </form>
  <hr>
  <h3>Account deleting</h3>
  <br>
  <button (click)="deletePres()" *ngIf="!deletePressed" class="btn btn-danger" type="button">Delete account</button>
  <div *ngIf="deletePressed" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Are you sure?</h4>
    <p>This process are irreversible!</p>
    <div class="row">
      <button (click)="deleteNo()" class="btn btn-secondary ml-3" type="button">No, let me think</button>
      <button (click)="deleteYes()" class="btn btn-danger ml-5" type="button">Yes</button>
    </div>
  </div>
</div>
