@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~material-icons/iconfont/material-icons.css";

.custom-dialog-container .mat-dialog-container {
  padding: 0 0 0 0;
}

.mat-tooltip {
  font-size: 12px !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.footer,
.push {
  height: 40px;
  bottom: 0;
  width: 100%;
  line-height: 40px;
}

.mat-tooltip1{
  word-break: break-all !important;
  white-space: normal !important;
}
