<div class="container">
  <!-- PUT FORM -->
  <div *ngIf="msg" class="alert alert-info col-6" role="alert">
    {{msg}}
  </div>
  <form *ngIf="insertForm" [formGroup]="insertForm">
    <div class="form-group">
      <label for="activityInput">Activity Polling Period</label>
      <fa-icon [icon]="qIcon"
               class="btn fas fa-2x pointer-event" data-toggle="tooltip" title="Activity Polling Period"></fa-icon>
      <input class="form-control" formControlName="activityPollingPeriod" id="activityInput"
             name="activityPollingPeriod" placeholder="Activity Polling Period"
             required
             type="number">
      <label for="changesInput">Changes Polling Period</label>
      <fa-icon [icon]="qIcon"
               class="btn fas fa-2x pointer-event" data-toggle="tooltip" title="Changes Polling Period"></fa-icon>
      <input class="form-control" formControlName="changesPollingPeriod" id="changesInput" name="changesPollingPeriod"
             placeholder="Changes Polling Period"
             required type="number">
      <label for="storageInput">Storage Log Period</label>
      <fa-icon [icon]="qIcon"
               class="btn fas fa-2x pointer-event" data-toggle="tooltip" title="Storage Log Period"></fa-icon>
      <input class="form-control" formControlName="storageLogPeriod" id="storageInput" name="storageLogPeriod"
             placeholder="Storage Log Period"
             required type="text">
      <label for="serverInput">Server Activity Period</label>
      <fa-icon [icon]="qIcon"
               class="btn fas fa-2x pointer-event" data-toggle="tooltip" title="Server Activity Period"></fa-icon>
      <input class="form-control" formControlName="serverActivityPeriod" id="serverInput" name="serverActivityPeriod"
             placeholder="Server Activity Period"
             required type="text">
      <label for="directoryInput">Directory Activity Period</label>
      <fa-icon [icon]="qIcon"
               class="btn fas fa-2x pointer-event" data-toggle="tooltip" title="Directory Activity Period"></fa-icon>
      <input class="form-control" formControlName="directoryActivityPeriod" id="directoryInput"
             name="directoryActivityPeriod"
             placeholder="Directory Activity Period"
             required type="text">
      <hr>
      <div class="d-flex flex-row">
        <button (click)="clickForUpdate()" class="btn btn-info col-4" type="button">Change Settings</button>
      </div>
      <hr>
    </div>
  </form>
  <!-- PUT FORM -->
</div>

